

.bookClubContainer {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

/* .topContainer {
	display:flex
} */

.headerContainer {
	margin-bottom: 1rem;
	text-align: center;
	
	
}



/* .messageContainer {
    text-align: left;
	margin-left: 2rem;
	
	
} */

.theMessageContainer {
	border: 2px solid #dedede;
	background: rgb(136,174,233);
	background: linear-gradient(214deg, rgba(136,174,233,1) 0%, rgba(240,245,245,1) 0%);
  border-radius: 5px;
  padding: 2px;
  margin: 1rem;
  
}

.message_user {
	float:left;
	
	
	
}

.message_userTwo {
	
	text-align: left;

}





.chatForm {
    margin-top: 1rem;
}

#chatBox{
    font-size: medium;
}

.chatSubmit {
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	margin-top: 1rem;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.chatSubmit:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.chatSubmit:active {
    position:relative;
	top:1px;
}

#chatDeleteBtn {
	background: url('../icons/trash-alt-regular.svg');
	cursor: pointer;
	background-repeat: no-repeat;
	padding: 15px 10px 10px 10px;
	margin-left: 15rem;
	
	
	
	
	

	
}

.secondMessageContainer {
  
	background: rgb(136,174,233);
	background: linear-gradient(214deg, rgba(136,174,233,1) 0%, rgba(221,209,226,1) 0%);
  	border-radius: 5px;
	padding-top: .4rem;
	padding-left: .3rem;
	padding-bottom: .4rem;
  	margin-left: 1rem ;
  	margin-right: 1rem;
  
}


