.libraryList-container {
    margin-top: 1rem;
    background: rgb(136,174,233);
    background: linear-gradient(90deg, rgba(136,174,233,1) 0%, rgba(248,250,255,1) 0%);
    font-family: 'Libre Baskerville', serif;
    
}

.libraryBooks {
    display:flex;
    margin: 1rem;
    
    justify-content: center;
    flex-direction: row;
    
    flex-wrap:wrap;
    align-content: space-evenly;
    font-family: 'Libre Baskerville', serif;
    
    
    
}

.sectionTitle {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

.libraryBook_title {
    font-size: 13px;
    margin-top: .75rem;
}

.logo {
    display:flex;
    margin-top:-2rem;
    
    
}

.logomain {
    max-width: 414px;
    text-align: center;
    margin: 0 auto;
}

.libraryBook {
    margin-bottom: 1rem;
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius:8px;
    margin-right:1rem;
    max-width: 165px;
    text-align: center;
    position: relative;
    
    
    
    
}

.libraryBook_cover {
   opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.likebutton {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}



.libraryBook:hover .likebutton {
    opacity: 1;
}



.addFavoriteBtn {
    background: rgb(136,174,233);
    background: linear-gradient(90deg, rgba(136,174,233,1) 0%, rgba(248,250,255,1) 100%);
    height: 45px;
    min-width: 130px;
    opacity: .7;
    
   
}

.removeFav {
    background-color: red;
    height: 45px;
    min-width: 130px;
    opacity: .7;
    
   
}



.filter-container {
    text-align: center;
}

.libraryFilters {
    margin-top:1rem;
}

.progressBar {
    margin-top: .5rem;
}
    
    

