.container-search {
    margin-top: 1rem;
}

.books {
    display:flex;
    margin: 1rem;
    /* margin: 1rem;
    align-items: center;
    flex-wrap: wrap; */
    justify-content: center;
    flex-direction: row;
    text-align: center;
    flex-wrap:wrap;
    align-content: space-evenly;
    font-family: 'Libre Baskerville', serif;
    
    
    /*justify-content: flex-start;
    flex-direction: column; */
} 

.booksearch {
    margin-bottom: 1rem;
    display:flex;
    flex-direction: column;
    
    margin-right:1rem;
    max-width: 180px;
    text-align: center;
    
}

.booksearchinput {
    margin-bottom: 1rem;
}
    
    
    
    